<div class="jumbotron">
    <h1>MyMenu</h1>
    <p class="lead">WebApi to use MyMenu</p>
    <p><a href="@Url.Action("Index", "Help")" class="btn btn-primary btn-lg">Documentação &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Explicar como fazer login</p>
        <p>Endpoint: api/Token</p>
        <p>Body: grant_type=password&username={username}&password={password}</p>
        <p><a class="btn btn-default" href="#">Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pedidos autenticados</h2>
        <p>Header: Authorization Bearer {{token}}</p>
        <p><a class="btn btn-default" href="#">Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pedidos não atenticados</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Mais &raquo;</a></p>
    </div>
</div>
